<about>
  <h1>A <b>modern</b> runtime for <b>JavaScript</b> and <b>TypeScript</b>.</h1>
  <p>Deno is a simple, modern and secure runtime for JavaScript, TypeScript, and WebAssembly that uses V8 and is built in Rust.</p>
  <p><a href="https://deno.land/" target="_blank" rel="nofollow">Read More</a></p>
</about>