<not-found>
  <h1>Page not found</h1>
  <p>Opsi, wrong page. Go back to <a href={HOME.path}>{HOME.label}</a> :(</p>

  <script lang="ts">
    import { withTypes } from 'riot'
    import routes from '../routes.ts'

    export default withTypes({
      ...routes
    })
  </script>
</not-found>

