<modal>
  <div class="modal">
    <div class="modal-title">{ props.title }</div>

    <div class="modal-body">  
      <slot />
    </div>
  </div>
  
  <script>
    export default {}
  </script>
  
  
  <style>
    .modal {
      padding: 16px;
      background: #fafafa;
      border: 1px solid #333;
    }
  </style>
</modal>
