<app>
  <h1>Hi Riot!</h1>
  <md content={ content } />

  <script>
    import Md from './md.riot'

    const name = 'Rollup'

    export default {
      components: {
        Md
      },
      content: `Hello **${ name }**!`
    }
  </script>

  <style>
    :host {
      --riot-color: #f04;
      display: block;
    }
    h1 {
      color: var(--riot-color);
      border-bottom: 1px solid var(--riot-color);
    }
  </style>
</app>
