<md>
  <script>
    import marked from 'marked'

    export default {
      onMounted(props) {
        this.root.innerHTML = props.content ? marked(props.content) : ''
      }
    }
  </script>

  <style>
    :host {
      display: block;
    }
  </style>
</md>
